html(lang='eng')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='../../favicon.ico')
    title Welcome to Tab Tracker
    // Libraries and links
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://use.fontawesome.com/47f1113041.js')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy', rel='stylesheet')
    // CSS file
    link(rel='stylesheet', type='text/css', href='style.css')
  body.root
    nav.navbar.navbar-inverse.navbar-fixed-top
      .row
        .navbar-header.col-xs-10
          ul.nav.navbar-nav
            li.disabled
              a(href='#')
            li.disabled
              a(href='#')
            li.active
              a(href='#main') HOME
            li.active
              a(href='#about') ABOUT
        .col-xs-2
          a.navbar-brand(href='#login') Log out
    #guitar-cover-mini.container.container-fluid.w3-opacity.w3-hover-sepia
      br
      br
      br
      br
      #add-header-background
        h4#desc EDIT A NEW SONG
    hr#add-line.w3-round
    .row
      .col-xs-5
        #add-metadata-container.w3-margin
          #add-metadata.w3-container.w3-padding.w3-black
            h3#add-metadata-title Song Metadata
          form
            #form-container
              .form-group
                input.form-control(type='text', placeholder='Title', required='', value='My heart will go on')
              br
              .form-group
                input.form-control(type='text', placeholder='Artist', required='', value='Celine Dion')
              br
              .form-group
                input.form-control(type='text', placeholder='Genre', required='', value='Pop')
              br
              .form-group
                input.form-control(type='text', placeholder='Album', required='', value="Let's talk about love")
              br
              .form-group
                input.form-control(type='text', placeholder='Youtube ID', required='')
      .col-xs-7
        .w3-margin(style='height:470px;background-color:#EEEEEE;border-radius: 60px 60px 30px 30px;')
          .w3-container.w3-padding.w3-black(style='border-radius: 30px 30px 0px 0px;')
            h3(style="font-family: 'Sorts Mill Goudy', serif;") Song Structure
          form
            div(style='margin:20px')
              .form-group
                textarea.form-control(rows='5', placeholder='Song Lyrics', required='')
                  | [Verse 1]
                  | Every night in my dreams
                  | I see you, I feel you
                  | That is how I know you go on
                  | Far across the distanceAnd spaces between us
                  | You have come to show you go on
                  | [Chorus]
                  | Near, far, wherever you are
                  | I believe that the heart does go on
                  | Once more you open the door
                  | And you're here in my heart
                  | Andheart will go on and on
                  | [Verse 2]
                  | Love can touch us one time
                  | And last for a lifetime
                  | And never let go until we're gone
                  | Love was when I loved you
                  | One true time I hold to
                  | In my life we'll always go on
              br
              .form-group
                textarea.form-control(rows='10', placeholder='Song Tabs', required='')
                  | e|----------------------------|-------5-------------0--------------7------|
                  | B|-------5---7----7---9-------|-----------9----------------7--------------|
                  | D|----------------------------|----------------------------7--------------|
                  | G|----------------------------|----------------9-----------6--------------|
                  | A|----------------------------|----------------------------0--------------|
                  | E|-----------------0----------|-------------------------------------------|
                  | e|-------5----4----0-------------|----------------------|
                  | B|-------------------------------|----------------------|
                  | G|------------------------4------|------------2---------|
                  | D|-------------------------------|----------------------|
                  | A|-------------------------------|------------0---------|
                  | E|-----------------5-------------|----------------------|
                  | e|----------------------------|-------5-------------0--------------7------|
                  | B|-------5---7----7---9-------|-----------9----------------7--------------|
                  | G|----------------------------|----------------9-----------6--------------|
                  | D|----------------------------|----------------------------7--------------|
                  | A|----------------------------|----------------------------0--------------|
                  | E|-----------------0----------|-------------------------------------------|
    br
    div
      button.w3-button.w3-round.w3-black.w3-large(style='border-radius:50px 180px;margin-left:950;padding-top:30px;padding-bottom:30px;padding-right:40px;padding-left:40px') ADD
    br
