html(lang='eng')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='../../favicon.ico')
    title Tabs
    // Libraries and links
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://use.fontawesome.com/47f1113041.js')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Satisfy', rel='stylesheet')
    // CSS file
    link(rel='stylesheet', type='text/css', href='style.css')
  body.root
    nav.navbar.navbar-inverse.navbar-fixed-top
      .row
        .navbar-header.col-xs-10
          ul.nav.navbar-nav
            li.disabled
              a(href='#')
            li.disabled
              a(href='#')
            li.active
              a(href='#main') HOME
            li.active
              a(href='#about') ABOUT
        .col-xs-2
          .row
            .col-xs-1
            .col-xs-1
              a.navbar-brand(href='#login') Login
    #tab-header-image.container.w3-opacity
    #tab-header-black-layer.container
    #tab-album-cover-container.container
      .row
        #tab-image-container.col-xs-3
          img#tab-album-cover.img-responsive.song-image-borderless.w3-margin-bottom.w3-round(src='../Samples/celine.jpg', alt='song cover')
        #tab-song-info.col-xs-9
          h5#tab-song-title My heart will go on
          h5#tab-song-artist Celine Dion
          h7#tab-song-album
            | Album 
            span(style='color:white') Let's talk about love
          br
          h7#tab-song-album
            | Year 
            span(style='color:white') 1997
          br
          h7#tab-song-album
            | Genre 
            span(style='color:white') Pop
    .container(style='width:100%;height:relative;position:absolute;margin-top:300px;')
      .row
        #tab-outer-container.col-xs-6
          #tab-inner-container.w3-container.w3-card-2.w3-black.w3-margin-bottom
            h2#tab-title.w3-text-white.w3-padding-16
              i.fa.fa-music.fa-fw.w3-margin-right.w3-xxlarge.w3-text-red
              | My heart will go on Tabs
            br
            h5#tab-tabs.w3-opacity
              | e|----------------------------|-------5-------------0--------------7------|
              br
              |               B|-------5---7----7---9-------|-----------9----------------7--------------|
              br
              |               D|----------------------------|----------------------------7--------------|
              br
              |               G|----------------------------|----------------9-----------6--------------|
              br
              |               A|----------------------------|----------------------------0--------------|
              br
              |               E|-----------------0----------|-------------------------------------------|
              br
              br
              |               e|-------5----4----0-------------|----------------------|
              br
              |               B|-------------------------------|----------------------|
              br
              |               G|------------------------4------|------------2---------|
              br
              |               D|-------------------------------|----------------------|
              br
              |               A|-------------------------------|------------0---------|
              br
              |               E|-----------------5-------------|----------------------|
              br
              br
              |               e|----------------------------|-------5-------------0--------------7------|
              br
              |               B|-------5---7----7---9-------|-----------9----------------7--------------|
              br
              |               G|----------------------------|----------------9-----------6--------------|
              br
              |               D|----------------------------|----------------------------7--------------|
              br
              |               A|----------------------------|----------------------------0--------------|
              br
              |               E|-----------------0----------|-------------------------------------------|
              br
              br
              |               e|-----4----7----9--------7------|-------------------------------|
              br
              |               B|-------------------------------|-----------------7-------------|
              br
              |               G|-------------------------------|-----------------6-------------|
              br
              |               A|-------------------------------|-----------------0-------------|
              br
              |               D|-------------------------------|-----------------7-------------|
              br
              |               E|---------------5---------------|-------------------------------|
              br
              br
              |               e|---0-------------0---0--------0----------|--------0----------------0------|
              br
              |               B|-----------------------------------------|---4----------------------------|
              br
              |               G|---2-------------------------------------|---2----------------2-----------|
              br
              |               D|---4---------4-----------4---------0-----|----------------2------------0--|
              br
              |               A|--------0--------------------------------|---0--------0-------------------|
              br
              br
              |               E|---0-------------------------------------|--------------------------------|
              br
              |               e|---------0-----------------2----|-----4------------5---4------2-----------|
              br
              |               B|---4----------------------------|-----5-----------------------4-----------|
              br
              |               D|------------------0-------------|-----------0-------------------------0---|
              br
              |               G|----------------------0---------|-----4-----------------------0-----------|
              br
              |               A|--------------------------------|-----0-----------------------0-----------|
              br
              |               E|---5----------5-----------------|-----------------------------------------|
              br
              br
              |               e|---0-------------0---0--------0----------|--------0----------------0------|
              br
              |               B|-----------------------------------------|---4----------------------------|
              br
              |               G|---2-------------------------------------|---2----------------2-----------|
              br
              |               D|---4---------4-----------4---------0-----|----------------2------------0--|
              br
              |               A|--------0--------------------------------|---0--------0-------------------|
              br
              |               E|---0-------------------------------------|--------------------------------|
              br
              br
              |               e|------------------------------0----|---------------0---2----0-2-0-----0---|
              br
              |               G|--------------0-------0------------|---4-------4--------------------------|
              br
              |               B|--0-----------------------0--------|-------0-----------------------4------|
              br
              |               D|----------0-------4----------------|--------------------------------------|
              br
              |               A|------2----------------------------|-------------------0------------------|
              br
              |               E|--5--------------------------------|---5----------------------------------|
              br
              br
              |               Skipped to Measure 21:
              br
              br
              |               e|--0-----------0---0-------0-------|-----------0------------------0---------|
              br
              |               B|----------------------------------|----4-----------------------------------|
              br
              |               G|----------4-----------------------|----4-------------------2---------------|
              br
              |               D|------4---------------4-------0---|--------------------2---------------0---|
              br
              |               A|--2-------------------------------|----0-----------0-----------------------|
              br
              |               E|----------------------------------|----------------------------------------|
              br
              br
              |               e|-----------------------------------0---|--------0---------4------------0---|
              br
              |               B|---0---------------------------0-------|-------------7--------7------------|
              br
              |               G|-------------------0-------0-----------|---6-------------------------------|
              br
              |               D|--------------0--------4---------------|--------------------------0--------|
              br
              |               A|---------2-----------------------------|---0--------------0----------------|
              br
              |               E|---5-----------------------------------|-----------------------------------|
              br
              br
        #youtube-outer-container.col-xs-4
          #youtube-inner-container.w3-container.w3-card-2.w3-margin-bottom
            h2#tab-title.w3-text-white.w3-padding-16
              i.fa.fa-youtube.fa-fw.w3-margin-right.w3-xxlarge.w3-text-red
              | Youtube Video
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
          #lyrics-container.w3-container.w3-card-2.w3-margin-bottom
            h2#lyrics-title.w3-text-white
              i.fa.fa-heart.fa-fw.w3-margin-right.w3-xxlarge.w3-text-red
              | Song Lyrics
            br
            h5#lyrics.w3-opacity
              | [Verse 1]
              br
              |               Every night in my dreams
              br
              |               I see you, I feel you
              br
              |               That is how I know you go on
              br
              |               Far across the distance
              br
              |               And spaces between us
              br
              |               You have come to show you go on
              br
              br
              |               [Chorus]
              br
              |               Near, far, wherever you are
              br
              |               I believe that the heart does go on
              br
              |               Once more you open the door
              br
              |               And you're here in my heart
              br
              |               And my heart will go on and on
              br
              br
              |               [Verse 2]
              br
              |               Love can touch us one time
              br
              |               And last for a lifetime
              br
              |               And never let go until we're gone
              br
              |               Love was when I loved you
              br
              |               One true time I hold to
              br
              |               In my life we'll always go on
              br
              br
              |               [Chorus]
              br
              |               Near, far, wherever you are
              br
              |               I believe that the heart does go on
              br
              |               Once more you open the door
              br
              |               [And you're here in my heart
              br
              |               And my heart will go on and on
              br
              br
              |               [Outro]
              br
              |               You're here, there's nothing I fear
              br
              |               And I know that my heart will go on
              br
              |               We'll stay forever this way
              br
              |               You are safe in my heart
              br
              |               And my heart will go on and on
              br
